/* src/components/Footer.scss */
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: auto; /* Isso ajuda a empurrar o footer para baixo se tiver pouco conteúdo */
  
  p {
    color: var(--cor-texto-cinza);
    font-size: 12px;
    
    span {
      color: var(--cor-primaria);
      font-weight: bold;
    }
  }
}