.top-header {
  // Removi o fundo branco para ficar "transparente" no fundo cinza da página
  background-color: transparent; 
  padding: 0 0 30px 0; // Espaço embaixo apenas
  display: flex;
  justify-content: space-between;
  align-items: center;

  .page-titles {
    h2 {
      font-size: 24px;
      color: var(--dark-blue);
      font-weight: 700;
      margin-bottom: 5px;
    }
    p {
      color: var(--gray-text);
      font-size: 14px;
    }
  }

  // Estilo "Pílula" branca flutuante
  .profile-pill {
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 50px; // Bordas totalmente redondas
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.02); // Sombra leve

    .info {
      text-align: right;
      strong { display: block; color: var(--dark-blue); font-size: 14px; }
      span { color: var(--gray-text); font-size: 11px; }
    }

    .avatar {
      width: 40px; height: 40px;
      background-color: var(--primary-blue);
      color: white;
      border-radius: 50%;
      display: flex; align-items: center; justify-content: center;
      font-weight: bold;
    }
  }
}