.sidebar {
  width: 250px;
  background-color: var(--white); // Fundo branco
  height: 100vh;
  padding: 30px 20px;
  border-right: 1px solid #F0F0F0; // Borda bem suava
  display: flex;
  flex-direction: column;

  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    padding-left: 10px;

    .logo-icon { font-size: 24px; }
    h2 { color: var(--primary-blue); font-weight: 800; font-size: 20px; }
  }

  nav ul {
    list-style: none;
    
    li {
      margin-bottom: 10px;
      
      a {
        display: block;
        padding: 12px 20px;
        border-radius: 12px; // Cantos arredondados
        color: var(--gray-text); // Cinza padrão
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          color: var(--primary-blue);
          background-color: transparent; // Na imagem parece não ter fundo no hover, só cor
          font-weight: 700; // Fica negrito no hover
        }
      }
    }
  }
}