.custom-table-container {
  background: var(--white);
  border-radius: 20px; // Mais arredondado
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.02);

  .table-header {
    margin-bottom: 20px;
    h3 { color: var(--dark-blue); font-size: 18px; font-weight: 700; }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    
    th {
      text-align: left;
      color: var(--gray-text);
      padding: 15px 0;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid #F0F0F0;
    }
    
    td {
      padding: 20px 0;
      color: var(--dark-blue);
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid #F8F9FC;
      
      &.bold-text {
        font-weight: 700; // Nome do cliente em negrito
      }
    }
    
    // Status Personalizados iguais à imagem
    .status {
      font-weight: 700;
      font-size: 14px;
      
      &.novo { color: var(--primary-blue); } // Azul/Roxo
      &.negociacao { color: #FFB547; }       // Laranja
      &.vendido { color: #05CD99; }          // Verde
    }
  }
}